.ant-table-placeholder {
    display: none !important;
    /* Ẩn toàn bộ placeholder của bảng */
}

/* -------------------------------------------------------------------------------------------------------------- */
/* Đặt màu nền của nút radio khi không được chọn thành màu đen */
.ant-radio-button-wrapper:not(.ant-radio-button-wrapper-checked) {
    background-color: black;
    color: #dfdfdf;
}

/* Đặt màu chữ của nút radio khi không được chọn thành màu trắng */
.ant-radio-button-wrapper:not(.ant-radio-button-wrapper-checked)::before {
    background-color: black;
}

.ant-radio-button-wrapper:not(.ant-radio-button-wrapper-checked) span {
    color: #dfdfdf;
}

/* Đảm bảo rằng nút radio được chọn giữ nguyên màu sắc mặc định */
.ant-radio-button-wrapper-checked {
    color: #dfdfdf;
}

/* Thay đổi màu chữ của nút radio khi di chuột */
.ant-radio-button-wrapper:not(.ant-radio-button-wrapper-checked):hover {
    color: #dfdfdf;
    border-color: #dfdfdf;
}

.custom-radio-button {
    text-align: center;
    flex: 1;
    font-family: 'Calibri, sans-serif';
    font-size: 16px;
    color: #dfdfdf;
    display: flex;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* CSS cho phần menu mobile mục chỉ số thị trường */
.cstt-menu .ant-menu-item {
    text-align: center;
    /* Căn giữa chữ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cstt-menu .ant-menu-item,
.cstt-menu .ant-menu-submenu-title {
    height: 22px !important;
    line-height: 22px !important;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* CSS cho phần menu mobile mục trạng thái thì trường */
.tttt-menu .ant-menu-item {
    text-align: center;
    /* Căn giữa chữ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.tttt-menu .ant-menu-item,
.tttt-menu .ant-menu-submenu-title {
    height: 23px !important;
    line-height: 23px !important;
}


/* -------------------------------------------------------------------------------------------------------------- */
/* CSS cho bảng phân tích kĩ thuật */
.taindex-table {
    width: 100%;
    height: 100%;
    background-color: transparent !important;
}

.taindex-table .ant-table {
    background-color: transparent !important;
}

.taindex-table .ant-table-thead>tr>th,
.taindex-table .ant-table-tbody>tr>td {
    background-color: transparent !important;
    border: none !important;
}

.taindex-table .ant-table-thead>tr>th,
.taindex-table .ant-table-tbody>tr>td {
    padding: 0px !important;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* CSS cho các bảng khác không phải bảng phân tích kĩ thuật */
.custom-table .ant-table {
    width: 100%;
    height: 100%;
    background-color: transparent !important;
}

.custom-table .ant-table-thead>tr>th,
.custom-table .ant-table-tbody>tr>td {
    color: white;
}

.custom-table .ant-table-tbody>tr:hover>td {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.custom-table .ant-table-thead>tr>th,
.custom-table .ant-table-thead>tr>td {
    background: transparent !important;
    color: #B3B3B3 !important;
    transition: background-color 0.3s;
}

.custom-table .ant-table-thead>tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    background-color: transparent !important;
}

.custom-table .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    background-color: transparent !important;
}

.custom-table td.ant-table-column-sort {
    background: transparent !important;
}

.custom-table .ant-table-thead>tr>th,
.custom-table .ant-table-tbody>tr>td {
    background-color: transparent !important;
    border: none !important;
}

.custom-table .ant-table-thead>tr>th:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.custom-table .ant-table-column-sorters:hover::after {
    display: none !important;
}

.custom-table .ant-table-tbody>tr>td {
    padding: 0px !important;
}

.custom-table .ant-table-thead>tr>th {
    padding: 10px 0px 5px !important;
}


/* -------------------------------------------------------------------------------------------------------------- */
/* CSS cho thanh tìm kiếm cổ phiếu */
.custom-search .ant-input {
    background-color: black;
}

.custom-search .ant-input-affix-wrapper {
    background-color: black;
}

.custom-search .ant-input::placeholder {
    color: #B3B3B3;
    opacity: 1;
}

.custom-search .ant-input-affix-wrapper input::placeholder {
    color: #B3B3B3;
    opacity: 1;
}

.custom-search .ant-input-affix-wrapper input {
    color: white;
}

.custom-search .custom-search-icon {
    color: #B3B3B3 !important;
}

.custom-search .ant-input-affix-wrapper-focused .anticon {
    color: #1677ff !important;
}

.ant-select-dropdown {
    background-color: #000000 !important;
    color: #B3B3B3 !important;
    overflow-y: auto;
}

.ant-select-dropdown .ant-select-item {
    color: #B3B3B3 !important;
}

.ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: #333333 !important;
}