.main-container {
    padding: 20px;
}

.hero-section {
    background-color: #f0f2f5;
    padding: 40px 0;
}

.hero-image {
    width: 100%;
    height: auto;
}

.story-section {
    margin: 40px 0;
}

.story-image {
    width: 100%;
    height: auto;
}

.reasons-section {
    background-color: #f0f2f5;
    padding: 40px 0;
    margin: 40px 0;
}

.testimonial-section {
    margin: 40px 0;
}

.stats-section {
    background-color: #f0f2f5;
    padding: 40px 0;
    margin: 40px 0;
}

.footer-section {
    margin: 40px 0;
}

.gallery {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
}

/* CSS cho Ant Design Notification */
.ant-notification-notice {
    background-color: #161616 !important;
    color: #fff !important;
    border-radius: 7px !important;
    border: 1px solid #161616
}

.ant-notification-notice-close {
    color: #fff !important;
}

.ant-notification-notice-message,
.ant-notification-notice-description {
    color: #fff !important;
}

.ant-notification-bottomRight {
    bottom: 0px !important;
    right: 0px !important;
}

.ant-notification {
    bottom: 0px !important;
    right: 0px !important;
}