<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f4f4f4">
        <tr>
            <td align="center">
                <table width="600px" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
                    style="margin-top: 20px; margin-bottom: 20px;">

                    <!-- Logo Section -->
                    <tr>
                        <td align="center">
                            <!-- Replace src with the URL of your logo -->
                            <img src="https://i.imgur.com/KVHjjDL.png" alt="T2M Logo"
                                style="max-width: 250px; height: auto; margin-left: 30px; padding: 10px; margin-top: 10px">
                        </td>
                    </tr>

                    <!-- Greeting Section -->
                    <tr>
                        <td valign="top" style="padding: 50px; padding-top: 20px; padding-bottom: 25px">
                            <p style="font-family: 'Calibri', sans-serif; font-size: 16px;">
                                Khách hàng mới đăng kí tư vấn
                            </p>
                            <p style="font-family: 'Calibri', sans-serif; font-size: 16px; margin-top: 10px">
                                Thông tin đăng kí:</p>
                            <p style="font-family: 'Calibri', sans-serif; font-size: 16px; margin-top: 10px">
                                <soan style="font-weight: bold;">Họ và tên:</soan> {{name}}
                            </p>
                            <p style="font-family: 'Calibri', sans-serif; font-size: 16px; margin-top: 10px">
                                <soan style="font-weight: bold;">Email:</soan> {{email}}
                            </p>
                            <p style="font-family: 'Calibri', sans-serif; font-size: 16px; margin-top: 10px">
                                <soan style="font-weight: bold;">Số điện thoại:</soan> {{phoneNumber}}
                            </p>
                            <p style="font-family: 'Calibri', sans-serif; font-size: 16px; margin-top: 10px">
                                <soan style="font-weight: bold;">Ghi chú:</soan> {{note}}
                            </p>
                        </td>
                    </tr>

                    <!-- Image Section -->
                    <tr>
                        <td valign="top" style="text-align: center;">
                            <img src="https://i.imgur.com/Yl1TO9x.png" alt="T2M Content"
                                style="max-width: 600px; height: auto; padding-left: 50px; padding-right: 50px">
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</body>

</html>